---
import Logo from "./Logo.astro";
import HeaderMenu from "./HeaderMenu.astro";
---

<header class="bg-white">
  <div class="max-w-[1200px] m-auto relative flex-wrap items-center justify-between py-6 md:flex lg:py-10">
      <a class="flex justify-start" href="/">
        <Logo />
      </a>
    <HeaderMenu />



  </div>
</header>

